<!DOCTYPE html>
<html lang="fr">

  <head>
    <link rel="icon" type="image/png" href="{{ asset('assets/images/logo.jpg') }}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="La Brasserie Les Tuileries est un restaurant proposant une cuisine moderne et gourmande avec des produits frais." />
	<link rel="canonical" href="https://restaurantlestuileries.fr/" />
	<meta property="og:locale" content="fr_FR" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="Brasserie Les Tuileries | Restaurant à Mâcon" />
	<meta property="og:description" content="La Brasserie Les Tuileries est un restaurant proposant une cuisine moderne et gourmande avec des produits frais, de qualité disposant d'une terasse en bord de Saône." />
	<meta property="og:url" content="https://www.restaurantlestuileries.fr/" />
    <meta name="google-site-verification" content="5sE7vnGNvQP7koODmg-_XY2KAis8cwG-I7OXrt3DwC8" />
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>Brasserie Les Tuileries</title>


    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.css">

    <link rel="stylesheet" href="assets/css/templatemo-breezed.css">

    <link rel="stylesheet" href="assets/css/owl-carousel.css">

    <link rel="stylesheet" href="assets/css/lightbox.css">

    </head>
    
    <body>
    
    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->
    
    
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="{{ path('app_front') }}" class="logo">
                            <!-- .LES TUILERIES -->
                            <img class="logoimg" src="assets/images/logo.png" alt="">
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="#top" class="active">Accueil</a></li>
                            {# <li class="scroll-to-section"><a id="cartecadeau" href="{{ path('app_cadeau') }}">Carte cadeau</a></li> #}
                            <!-- <li class="scroll-to-section"><a href="#contact-us">Menus</a></li> -->
                            <li class="scroll-to-section"><a href="{{ path('app_menus') }}">Menus</a></li>
                            <li class="scroll-to-section"><a href="{{ path('app_event') }}">Evenements</a></li>
                            <li class="scroll-to-section"><a href="#projects">Galerie</a></li>
                            
                            
                            
                            
                        </ul>        
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->
    
    <!-- ***** Search Area ***** -->
    

    <!-- ***** Main Banner Area Start ***** -->
    <div class="main-banner header-text" id="top">
        <div class="Modern-Slider">
          <!-- Item -->
          <div class="item">
            <div class="img-fill">
                <video  loop muted autoplay playsinline preload="none" type="video/mp4" src="assets/images/video21.mp4"></video>
                <div class="text-content">
                  <h3>Bienvenue aux Tuileries</h3>
                  <h5>Brasserie en bord de Saône</h5>
                  <div class="buttonhome">
                      <a href="{{ path('app_menus') }}" class="main-stroked-button">La carte</a>
                      <a href="tel:0385505050" class="main-filled-button">Nous contacter</a>
                  </div>
                </div>
            </div>
          </div>
          
          <!-- // Item -->
        </div>
    </div>
    <div class="scroll-down scroll-to-section"><a href="#about"><i class="fa fa-arrow-down"></i></a></div>
    <!-- ***** Main Banner Area End ***** -->

    <!-- ***** About Area Starts ***** -->
    <section class="section" id="about">
        <div class="container">
            <div class="row">
                
                <div class="col-lg-6 col-md-6 col-xs-12" style="display: flex;">
                    <div class="left-text-content" style="display: flex; flex-wrap: wrap;">
                        <div class="section-heading">
                            <h6>A propos</h6>
                            <h2>Bienvenue à la Brasserie Les Tuileries !</h2>
                        </div>
                        <p> Une brasserie traditionnelle idéale et un artisan restaurateur <br><br>
                            Venez découvrir nos différents plats élaborés à partir de produits frais et de qualité dans un cadre chaleureux.<br><br>
                            Vous cherchez un restaurant près de la Saône pour manger avec des amis ou en famille ? <br> <br>Venez aux Tuileries, brasserie à Mâcon, proche du centre, tout en étant au bord de la Saône, pour savourer une cuisine traditionnelle. <br><br>Réservation conseillée. Venez à la brasserie au bord de la Saône, dans le département de la Saône-et-Loire (71), pour savourer une cuisine traditionnelle faite maison. <br><br></p>
                        
                            
                                <a href="https://www.google.com/maps/place/Les+Tuileries/@46.2933393,4.8269642,17z/data=!3m1!4b1!4m6!3m5!1s0x47f36fab1c93fb99:0x84524b079af97e6d!8m2!3d46.2933393!4d4.8291529!16s%2Fg%2F1txnnt72?hl=fr" target="_blank">
                                    <div class="service-item" style=" display: flex; margin: auto; justify-content: center; margin-bottom: 16px!important; margin-top: 16px!important;">
                                    
                                            <img src="assets/images/epingle.png" alt="">
                                            <h4>29 Quai des Marans 71000 Mâcon</h4>
                                    
                                    </div>
                                </a>
                        
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="left-text-content">
                        <div class="section-heading">
                            <h6>Les dernières actualités</h6>
                            
                        </div>
                        <div class="row">
                            <div style="margin:8px; border-radius: 8px; padding: 16px;box-shadow: 0 2px 15px rgba(0, 0, 0, 0.3);background-color:#fff" >
                                <div style=" margin-bottom: 12px;">
                                  <div style="display: flex; justify-content: space-between; margin-bottom: 8px;">
                                      <img src="assets/images/logo.jpg" alt="Logo de la publication" width="35" height="35"style="border-radius: 50%; margin-right: 12px;">
                                      <p style="margin-right: 0; font-size: 14px; color: #777;">Le 05/04/2023</p>
                                  </div>
                                  <div>
                                    <h3 style="margin: 0; font-size: 18px; color:#b7b7b7;"></h3>
                                    
                                  </div>
                                </div>
                                <img src="assets/images/ECKO_AUTO_Les%20Tuileries_page-0001.jpg" alt="Image de la publication" style="max-width: 100%; margin-bottom: 12px;">
                                <hr style="border: none; border-top: 1px solid #ddd; margin-bottom: 12px;">
                                {# <a target="_blank" href="https://www.facebook.com/brasserieslestuileries"><button style="background-color: #606060; color: #fff; border: none; border-radius: 4px; padding: 8px 16px;">Voir la publication</button></a>#}
                              </div> 
                              
                            <div class="col-md-12">
                                <a href="{{ path('app_event') }}" class="main-button-icon">Voir toutes les actualités<i class="fa fa-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!-- ***** About Area Ends ***** -->

    <!-- ***** Features Big Item Start ***** -->
    <section class="section" id="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                    <div class="features-item">
                        <div class="features-icon">
                            <img class="infos"src="assets/images/calendrier.png" alt="">
                        </div>
                        <div class="features-content">
                            <h4>OUVERTURES</h4>
                            <p>Nous vous servons du <strong>lundi au samedi midis et soirs</strong> et le <strong>Dimanche uniquement le midi</strong>.</p>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" data-scroll-reveal="enter bottom move 30px over 0.6s after 0.4s">
                    <div class="features-item">
                        <div class="features-icon">
                            <img class="infos" src="assets/images/horloge-murale.png" alt="">
                        </div>
                        <div class="features-content">
                            <h4>HORRAIRES</h4>
                            <p><strong>12:00 à 15:00 </strong><br>
                                 et <br>
                                <strong>19:00 à 23:00</strong></p>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                    <div class="features-item">
                        <div class="features-icon">
                            <img class="infos" src="assets/images/info.png" alt="">
                        </div>
                        <div class="features-content">
                            <h4>INFOS</h4>
                            <strong>
                                <p>Dans le soucis de toujours mieux vous servir, nous prenons la dernière commande le midi à <strong>13h30 </strong>et le soir à <strong>21h30</strong></p>
                            </strong>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Features Big Item End ***** -->

    <!-- ***** Features Big Item Start ***** -->
    <section class="section" id="subscribe">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="section-heading">
                       <h2>La brasserie au bord de la Saône</h2>
                    </div>
                    <div class="subscribe-content">
                        <p>Une brasserie traditionnelle idéale et un artisan restaurateur
Vous cherchez un restaurant près de la Saône pour manger avec des amis ou en famille ?<br><br> Venez aux Tuileries, brasserie à Mâcon, proche du centre, tout en étant au bord de la Saône, pour savourer une cuisine traditionnelle.<br><br>
 Réservation conseillée. Venez à la brasserie au bord de la Saône, dans le département de la Saône-et-Loire (71), pour savourer une cuisine traditionnelle faite maison.</p>
                        
                        <div class="subscribe-form">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Features Big Item End ***** -->
   
    <!-- ***** Projects Area Starts ***** -->
    <section class="section" id="projects">
      <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="section-heading">
                    <h6>Galerie Photos</h6>
                    <h2></h2>
                </div>
                <div class="filters">
                <p>La galerie photos des Tuileries, restaurant à Mâcon en bord de Saône</p>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="filters-content">
                    <div class="row grid">
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 all des">
                          <div class="item">
                            <a href="assets/images/gallerie4.webp" data-lightbox="image-1" data-title="Our Projects"><img src="assets/images/gallerie4.webp" alt=""></a>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 all dev">
                          <div class="item">
                            <a href="assets/images/gallerie5.webp" data-lightbox="image-1" data-title="Our Projects"><img src="assets/images/gallerie5.webp" alt=""></a>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 all gra">
                          <div class="item">
                            <a href="assets/images/gallerie6.webp" data-lightbox="image-1" data-title="Our Projects"><img src="assets/images/gallerie6.webp" alt=""></a>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 all tsh">
                          <div class="item">
                            <a href="assets/images/gallerie1.webp" data-lightbox="image-1" data-title="Our Projects"><img src="assets/images/gallerie1.webp" alt=""></a>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 all dev">
                          <div class="item">
                            <a href="assets/images/gallerie2.webp" data-lightbox="image-1" data-title="Our Projects"><img src="assets/images/gallerie2.webp" alt=""></a>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 all des">
                          <div class="item">
                            <a href="assets/images/gallerie3.webp" data-lightbox="image-1" data-title="Our Projects"><img src="assets/images/gallerie3.webp" alt=""></a>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </section>
     {% include 'front/footer.html.twig' %}